.swal2-title {
  font-size: 2.5rem !important;
  padding: 1.28rem 1.6rem 0 !important;
}

.swal2-html-container {
  font-size: 1.8rem !important;
}

.swal2-popup {
  width: 51.2rem !important;
  padding: 0 0 2rem !important;
  font-size: 1.6 !important;
}

.swal2-actions {
  margin: 2rem auto 0 !important;
  .btn {
    font-size: 1.6rem !important;
    padding: 0.8rem 2.2rem !important;
    margin: 0 0.8rem !important;

    &-danger {
      background: var(--color-yellow);
      border-radius: 60px;
      border: none;
      color: var(--color-black-2);
      font-weight: 700;
    }
    &-success {
      background: var(--color-white);
      border-radius: 60px;
      border-color: var(--color-yellow);
      color: var(--color-black-2);
      font-weight: 700;
      &:focus {
        box-shadow: none;
      }
    }
  }
}

.swal2-html-container {
  overflow: inherit !important;

  a {
    text-decoration: none !important;
    &:hover {
      color: var(--color-black-1) !important;
    }
  }
}

.sweet-btn-max {
  @media screen and (max-width: 425px) {
    width: 100%;
    &:first-child {
      margin-bottom: 2rem !important;
    }
  }
}
