.read-more-content{
    font-size: 14px;
    line-height: 20px;
    color: #676667;
    padding-top: 10px;
    padding-bottom: 10px;

.readMore-text{

    color: #0E69C2 !important;
    text-decoration: none;
    padding-top: 5px;

    }
}