.InputWithRadioComp{
   .radioBox{
    background: #FFFFFF;
    border: 1px solid #969696;
    box-sizing: border-box;
    border-radius: 60px;
    width: 275px;
    height: 55px;
    padding: 15px 20px;
    margin: 10px;
   }

}