@import '../../assets/sass/main.scss';
.InputWithRadioComp {
  .radioBox {
    background: var(--color-white-1);
    border: 0.1rem solid var(--color-grey-light-3);
    box-sizing: border-box;
    border-radius: 6rem;
    // padding: 1.1rem 2rem;
    padding: 1rem 2rem;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    .form-check-input {
      margin-top:0.6rem;
    }

    label {
      margin-left:.8rem;
      font-size: 1.8rem;
      @include media-breakpoint-only('xl') { 
        font-size:1.6rem;
       }
      color: var(--color-black-2);
      font-weight: normal;
    }
  }
}

.defaultRadio{
  border-radius: 1rem !important;
  padding: 1rem 1rem !important;
}