.dashboard {
    .teacher-statistics {
        min-height: 80vh !important;
        .card-wrapper {
            display: flex;
            .card {
                display: flex;
                border-radius: 0;
                width: max-content;
                min-width: 24rem !important;
                flex-direction: column;
                justify-content: center !important;
                height: 12rem !important;
                padding: 1rem;
                font-size: 1.6rem;
                .r-value {
                    font-weight: 600;
                    width: 50%;
                }
                .l-value {
                    font-weight: 500;
                }
            }
        }
        .fs-4 {
            font-size: 4rem !important;
        }
        .teacher-progress {
            min-height: 20rem;
        }
        .stepper {
            min-height: 40rem;
        }
    }
    // .ant-steps-item-content :first-child {
    //     color: red !important;
    //     background-color: yellow;
    //     font-size: 40px;
    //   }
    .anticon svg {
        display: inline-block;
        margin-bottom: 0.5rem;
    }
    .ant-steps-item-title {
        margin-bottom: 4rem;
    }
}
.border-left {
    border-left: 5px solid #067de1;
}
.border-top-blue {
    border-top: 5px solid #067de1;
}
.border-top-dark-blue {
    border-top: 5px solid #00008b;
}
.border-top-green {
    border-top: 5px solid #0da650;
}
.border-top-yellow {
    border-top: 5px solid #ffcb34;
}
.color-blue {
    color: #067de1;
}
.color-dark-blue {
    color: #00008b;
}
.color-green {
    color: #0da650;
}
.color-yellow {
    color: #ffcb34;
}
.fs-600{
    font-weight: 600;
}
.fs-700{
    font-weight: 700;
    font-size: x-large;
}
.row-gap{
    width: 100%;
    gap: 1rem;
    justify-content: space-between;
}
