body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.2rem;
  line-height: 3rem;
  color: var(--color-grey-light-1);
}

p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

caption {
  font-family: inherit;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

h1 {
  font-size: 4.6rem;
  font-weight: 900;
}

h2 {
  font-size: 3rem;
}

h4 {
  position: relative;
  font-size: 4rem;
  font-weight: 700;
  span.color-green {
    color: var(--color-green);
    &::after {
      position: absolute;
      content: url(../../media/vector-green.svg);
      top: 2.8rem;
      left: 0.4rem;
    }
  }
}

h6 {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 100%;
}

label {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-black-1);
}

input {
  all: unset;
}

small {
  font-size: 1.3rem;
  display: block;
  line-height: 2rem;
  font-weight: 600;
  color: var(--color-grey-light-3);

  &.error-cls {
    color: var(--color-red);
  }
}
