body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.2rem;
  line-height: 3rem;
  text-align: center;
  color: var(--color-grey-light-1);
}

caption {
  font-family: inherit;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
}
