.ideas-Page {
  background-color: var(--color-white-3);
  // padding: 2rem;
  .ideas-head {
    padding: 4rem 2rem;
    background: #ffffff;
    box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
    border-radius: 0.8rem;
    align-items: center;
    text-align: left;
    .ideaTitle {
      font-size: 4.2rem;
      @media screen and (max-width: 1600px) {
        font-size: 3.2rem !important;
      }

      @media screen and (max-width: 543px) {
        font-size: 2rem;
      }
    }
    .idea-qs {
      font-size: 3rem;
      line-height: 3rem;
      color: var(--color-grey-light-1);
      @media screen and (max-width: 1600px) {
        font-size: 2.5rem;
      }

      @media screen and (max-width: 543px) {
        font-size: 1.8rem;
        margin-top: 2px !important  ;
      }
    }
    .thump:first-child {
      padding-right: 4rem;
      @media screen and (max-width: 477px) {
        padding-right: 1rem;
      }
    }
    .avatar-imgs {
      background-color: var(--color-grey-light-4);
      color: var(--color-grey-light-1);
    }
    .avatar-txt {
      font-size: 2rem;
      line-height: 2rem;
      color: var(--color-grey-light-1);
      font-weight: 600;
      padding-left: 1rem;
      @media screen and (max-width: 477px) {
        font-size: 1.2rem;
        line-height: 1.2rem;
      }
    }
    .ant-avatar-lg.ant-avatar-icon {
      @media screen and (max-width: 477px) {
        font-size: 2rem;
      }
    }
    .ant-avatar-lg {
      @media screen and (max-width: 477px) {
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
      }
    }
    .idea-status {
      color: var(--color-red);
      font-size: 2rem;
      line-height: 2rem;
      @media screen and (max-width: 477px) {
        font-size: 1.2rem;
        line-height: 1.2rem;
      }
      .idea-date {
        font-size: 2.2rem;
        line-height: 3rem;
        color: var(--color-black-2) !important;
        @media screen and (max-width: 477px) {
          font-size: 1.5rem;
          line-height: 1.5rem;
        }
      }
    }

    .btn-set {
      .storybook-button--primary:first-child {
        margin-right: 4rem;
      }
      @media screen and (max-width: 477px) {
        flex-direction: column;
      }
      button {
        @media screen and (max-width: 477px) {
          width: 100%;
          &:first-child {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
  .idea-img {
    width: 74%;
    @media screen and (max-width: 1199px) {
      width: 100%;
    }
  }
  .idea-que-sec {
    .que-items {
      background: #ffffff;
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12);
      border-radius: 8px;
    }
    .idea-query {
      .avatar-txt {
        font-size: 2rem;
        color: var(--color-black-2);
        vertical-align: middle;
        padding-left: 1rem;
      }
    }
    .idea-pblms {
      .idea-pblm-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #ffffff;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        padding: 1.5rem 1rem;
        margin: 1rem;
      }
    }
  }
}
.submitted-ideas {
  background: var(--color-white-3);
  padding: 4rem 2rem;
  text-align: left;
  .ideas-info {
    background: var(--color-white-1);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    padding: 2rem;
    margin-top: 2rem;
    .idea-name {
      color: var(--color-grey-light-1);
      font-size: 2rem;
      .idea-value {
        color: var(--color-black-2);
      }
    }
    .ideas-category {
      label {
        font-size: 14px;
        line-height: 20px;
        color: var(--color-grey-light-3);
      }
      p {
        font-weight: 600;
        font-size: 2rem;
        line-height: 2rem;
        color: var(--color-black-2);
        @media screen and (max-width: 1600px) {
          font-size: 1.4rem;
        }
      }
    }
  }
  .forum-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: var(--color-black-2);
  }
  .idea-attachm {
    img {
      margin: 1rem;
    }
  }
  .desc-content {
    color: var(--color-grey-light-1);
    font-size: 1.4rem;
  }
}
