.discussion-forum{
    .forum-head{
        background-color: #D1D8E8;
        text-align: left;
        height: 35vh;
        padding: 2rem;
        .formIcon{
            width: 10rem;
        }
     
        .shareLearn{
            background: #FFFFFF;
            box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
            border-radius: 8px;
            .learn-title{
                font-size: 3rem;
                line-height: 3rem;
                color: var(--color-black-2);
            }
            .learn-text{
                font-size: 1.8rem;
                line-height: 2.5rem;
                color: var(--color-grey-light-1);
            }
        }

    }
}
