// .filters {
.filterBox {
  height: 4rem;
  width: 13.5rem;
  border-radius: 0.6rem;
  padding: 0.4rem, 1.24rem, 0.44rem, 1.24rem;
}
.filterDesign {
  position: absolute;
  left: 12.5%;
  right: 12.5%;
  top: 25%;
  bottom: 25.02%;
  background: #969696;
}
.filterDownArrow {
  height: 0.56rem;
  width: 0.84rem;
  left: 0.74rem;
  top: 0.93rem;
  // border-radius: 0px;
}
// }
