.card.comment-card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

.card-outline-warning{border: 1px solid var(--color-yellow);}
.card-outline-success{border: 1px solid var(--color-green);}
