.InputBox {
  .form-control {
    border: 0.2rem solid #067de1;
    box-sizing: border-box;
    border-radius: 6rem;
    width: 9.9rem;
    height: 2.5rem;
  }
  .form-control1 {
    border: 0.1rem solid #067de1;
    box-sizing: border-box;
    border-radius: 6rem;
    width: 16.5rem;
    height: 2.5rem;
  }
}
