.custom-dropdown {
  .btn.btn-default {
    color: var(--color-black-1) !important;
    padding: 0.5rem 1rem;
    background-color: var(--color-white-1) !important;
    font-size: 1.4rem;
    line-height: 2.5rem;
    background-color: #ffffff;
    border: 1px solid #dde2e4;
    box-sizing: border-box;
    border-radius: 6px;
    margin-right: 0.5rem;
    &::last-child {
      margin-right: 0rem !important;
    }
    &:focus {
      outline-style: none;
      box-shadow: none;
      border-color: transparent;
    }

    svg {
      margin-right: 1rem;
    }
  }
  .dropdown-toggle::after {
    margin-left: 1.5rem;
  }

  .dropdown {
    &-menu {
      background-color: var(--color-white-1);
      margin-top: 1.9rem;
      margin-left: -4rem;
      // min-width: 18rem;
      min-width: auto;
      border-radius: 0.8rem;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      border: 0;
      padding: 0;
    }
    &-item {
      padding: 1rem 3rem !important;
      a {
        text-decoration: none;
        color: var(--color-grey-light-1);
      }
      &:active {
        color: var(--color-white-1) !important;
        background: rgb(255 203 52 / 20%) !important;
      }
      &:not(:last-child) {
        border-bottom: 0.1rem solid var(--color-white-6);
        &:active {
          color: var(--color-white-1) !important;
        }
      }
    }
  }
}

// .dropdown-menu.show{
//   transform: translate(-5px, 0px) !important;
// }