.dashboard-wrapper {
    .dashboard {
        min-height: 80vh !important;
    }
    .btn-danger {
        border-radius: 2rem;
        width: 10rem;
        float: right;
    }
    .disc-card-search{
        min-height: 35rem;
    }
    .fs-highlight{
        font-size:1.6rem;
        font-weight:1.6rem;
    }
}
