.stepsComp{

    .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon .ant-steps-icon{
        color: var(--color-green);

    }
    .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon{
        background:var(--color-white-1);
        border-color: var(--color-green);
        
    }
    .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot{
        background: var(--color-green);
    }
    .ant-steps-item-finish .ant-steps-item-icon{
        background:var(--color-white-1);
        border-color: var(--color-green);
    }
    .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon{
        color: var(--color-green);
    }
    .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after{
        background:var(--color-green);
    }
    .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after{
        background: var(--color-green);
    }
    .ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot{
            color: var(--color-green);
            background: var(--color-green);
    }
    .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title{
        color: var(--color-green);
    }
    .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title{
        color: var(--color-green);
    }
    .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description{
        color: var(--color-green);
        padding-top:3rem;
    }
}
