.dashboard-wrapper {
    margin-bottom: 5rem !important;
    margin-top: 3rem !important;
    p{
        margin-bottom: 0.5rem !important;
    }
    .dashboard--top--card {
        p.dead-line {
            font-size: 1.2rem !important;
        }
        p.sub-heading {
            font-size: 1.6rem !important;
            font-weight: 500;
        }
        p.badges{
            font-size: 1.6rem !important;
            font-weight: 500;
        }
        .dashboard-card-footer{
            margin-top: 1.5rem;
        }
        .w-30{
            width: 30% !important;
        }
        .card-left{
            flex: 2;
        }
        .card-right{
            flex: 1;
        }
        .card-height{
            min-height: 15rem;
        }
    }
    .overview-card{
        min-height: 11rem;
        .title{
            font-weight: 500;
            font-size: 1.6rem;
        }
        .count{
            font-weight: 700;
            font-size: 3.2rem;
        }
    }
    .course-team{
        .team-progress{
            min-height: 35rem !important;
            select{
                padding: 1rem;
                box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
                border-color: #f8f1f1;
                border-radius: 0.5rem;
            }
        }
        .learning-statistics{
            min-height: 35rem !important;
            display: flex;
        }
        li{
            font-weight: 500;
        }
    }
    div.rounded{
        border-radius: 1rem !important;
    }
    .flex-1{
        flex: 1;
    }
    .flex-2{
        flex: 2;
    }
    .seperator-left{
        border-left: 0.2rem solid aliceblue;
    }
}
