.faq-page {
  p{
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    color: var(--color-grey-light-1);
    font-weight: 600;
  }
  .help-section {
    background: var(--color-white-6);
    // height: 45rem;
    padding: 8rem 10rem;
    position: relative;
    @media screen and (max-width: 991px) {
      padding: 8rem 1rem;
    }
    @media screen and (max-width: 381px) {
      padding: 3rem 1rem;
    }
    .btn-click {
      text-align: right;
    }
    .search-comp-large {
      // width: 55rem;
      border-radius: 3rem;
      // margin-right: 2rem;
    }

    .help-card {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: -51px;

      flex-wrap: wrap;
      gap: 1.5rem;
      display: flex;
      justify-content: center;
      margin-top: 5rem;
      padding-top: 2rem;
      // @media screen and (max-width: 1129px) {
      //   position: relative;
      //   left: 0;
      //   bottom: 0;
      // }
      @media screen and (max-width: 1194px) {
        gap: 0rem;
      }
      @media screen and (max-width: 381px) {
        position: relative;
        left: 0;
        bottom: 0;
        gap: 1.5rem;
        margin-top: 0rem;
        padding-top: 0rem;
      }
      .helpCard {
        background: #ffffff;
        box-shadow: 0px 12px 26px rgb(16 30 115 / 4%);
        border-radius: 8px;
        padding: 1.5rem 3.3rem;
        @media screen and (max-width: 991px) {
          padding: 1rem;
        }
        width: 22rem;
        svg {
          color: var(--color-grey-light-3);
          width: 3rem;
          height: 3rem;
        }

        p {
          font-weight: 600;
        }
        @media screen and (max-width: 1194px) {
          width: auto !important;
          border-radius: 0rem;
        }
        @media screen and (max-width: 381px) {
          width: 12rem !important;
          margin-top: 0rem !important;
        }
      }
    }
    .activeQuery {
      svg {
        color: var(--color-yellow) !important;
      }
    }
  }
  .idea-section {
    min-height: 80vh;
    background-color: var(--color-white-3);
    padding-top: 2rem !important;
    // padding: 0rem 10rem;
    @media screen and (max-width: 991px) {
      // padding: 0rem 3rem;
    }
    .accordion-story .accordion-item .accordion-button {
      @media screen and (max-width: 576px) {
        font-size: 1.5rem;
      }
    }
    h2 {
      font-size: 4rem;
      font-weight: bold;
    }
  }
  .collapse-sec {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .idea-que-sec {
    .que-items {
      background: #ffffff;
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12);
      border-radius: 8px;
    }
    .idea-query {
      .avatar-txt {
        font-size: 2rem;
        color: var(--color-black-2);
        vertical-align: middle;
        padding-left: 1rem;
      }
    }
    .idea-pblms {
      .idea-pblm-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #ffffff;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        padding: 1.5rem 1rem;
        margin: 1rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.ticket-page {
  background: var(--color-white-3);
  text-align: left;
  // padding: 4rem 2rem;
  // height: 88vh;
  .ticket-data {
    // margin-top: 2rem;
    .ant-tabs-tab-btn {
      font-size: 1.8rem;
      line-height: 2.5rem;
      color: var(--color-grey-light-1);
    }
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: var(--color-blue);
    }
    .tableActionTemplate {
      .action-drops {
        // gap: 1rem;
      }
      .InputWithSearchComp .ant-input-affix-wrapper,
      .single-dropdown {
        background-color: var(--color-white-1) !important;
        border: 1px solid #dde2e4;
        padding: 0.8rem 1rem !important;
        font-size: 1.4rem !important;
        background-color: #ffffff;
        border: 1px solid #dde2e4;
        box-sizing: border-box;
        border-radius: 6px !important;
      }
      .InputWithSearchComp .ant-input-affix-wrapper > input.ant-input {
        background-color: var(--color-white-1);
      }
      .studentDropdown {
        margin: 0 1rem;
      }
      .ticket-btn {
        text-align: right;
      }
      .ticket-table {
        margin-top: 3rem;
        .custom-dropdown .btn.btn-default svg {
          margin: 0;
        }
        .custom-dropdown .show .dropdown-toggle {
        }
        .custom-dropdown .dropdown-toggle {
          border: none;
          color: var(--color-grey-light-3);
        }
        .custom-dropdown .dropdown-toggle::after {
          display: none;
        }
        .view-link {
          color: var(--color-blue);
          text-decoration: none;
        }
        .action-link {
          font-size: 2rem;
        }
        .ant-tag {
          border: none;
          padding: 0.3rem 1.2rem;
          box-sizing: border-box;
          border-radius: 6px;
        }
        .add-ticket {
          text-align: center;
          background-color: var(--color-white-1);
          padding: 8rem;
          box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
          border-radius: 8px;
          .text {
            font-weight: 600;
            font-size: 2rem;
            line-height: 2rem;
            color: var(--color-grey-light-1);
            margin-top: 1rem;
          }
        }
        .storybook-button--btn-circle {
          svg {
            margin: 0;
          }
        }
      }
    }
  }
}
.new-ticket-page {
  background: var(--color-white-3);
  padding: 4rem 2rem;
  text-align: left;
  .raiseTicket {
    color: var(--color-black-2);
    font-weight: 600;
    padding-top: 1rem;
  }
  .create-ticket {
    background: #ffffff;
    box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
    border-radius: 8px;
    padding: 3rem 2rem;
    margin-bottom: 3rem;
    .question {
      font-weight: 600;
      color: var(--color-black-2);
    }
    .que-text {
      font-size: 1.4rem;
      line-height: 2rem;
      color: var(--color-grey-light-3);
    }
    .defaultDropdown {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .textarea {
      margin-top: 1rem;
    }
  }
  .storybook-button--secondary {
    opacity: 0.6;
  }
  .submit-btn {
    text-align: right;
    .storybook-button--primary-outline {
      margin-right: 1rem;
    }
  }
}
.view-tickets-page {
  background: var(--color-white-3);
  padding: 4rem 2rem;
  text-align: left;
  .ticket-info {
    p {
      color: var(--color-black-2);
      font-weight: 600;
      span {
        font-size: 3rem;
      }
      .ticket-status {
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 2rem;
        margin-left: 4rem;
      }
    }
  }
  .ticket-action {
    .custom-dropdown .btn.btn-default svg {
      margin: 0;
    }
    .custom-dropdown .dropdown-toggle::after {
      display: none;
    }
    display: inline-flex;
    .storybook-button--btn-square {
      margin-right: 1rem;
      border: 1px solid #dde2e4;
      box-sizing: border-box;
      border-radius: 6px;
    }
  }
}
