.solutionIdea {
  height: 41.6rem;
  width: 75.9rem;
  left: 74.1rem;
  top: 21.8rem;
  background: rgb(2, 0, 0);
  position: absolute;
  //   border-radius: 0.8rem;
  box-shadow: 0rem 1.2rem 2.6rem rgba(16, 30, 115, 0.06);
  border-radius: 0.8rem;
}

.bg {
  background: #3e6579;
}
.conent {
  position: absolute;
  width: 34.2rem;
  height: 2.4rem;
  left: 77.3rem;
  top: 25.4rem;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.4rem;
  letter-spacing: -0.006em;
  color: #231f20;
  text-align: left;
}

.solutionIdea1 {
  position: absolute;
  width: 75.9rem;
  height: 106.8rem;
  left: 74.1rem;
  top: 68.2rem;
  background: #121213;
  box-shadow: 0rem 1.2rem 2.6rem rgba(16, 30, 115, 0.06);
  border-radius: 0.8rem;
}

.subTitle {
  position: absolute;
  width: 24.3rem;
  height: 3rem;
  left: 74.1rem;
  top: 16.4rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 3rem;
  color: #231f20;
}
.breadcrumb {
  position: absolute;
  left: 38.59%;
  right: 59.48%;
  top: 6.41%;
  bottom: 92.59%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #0a0101;
}
