// @import '../sass/main.scss';

.SignUp {
  background-color: var(--color-white-1);
  .language-selector{
    .single-dropdown{
      border: none;
      padding-top: 0;
      padding-bottom: 0;
      vertical-align: bottom;
      padding-right:3.5rem
    }
  }

  .aside {
    height: 100%;
    background-color: var(--color-blue);
    color: var(--color-white-1);
    padding: 6rem;
    .logo {
      margin-bottom: 7rem;
      h2 {
        color: var(--color-white-1);
        font-weight: 500;
        
      }
      img {
        margin-right: 1.5rem;
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
      }
    }
    h1 {
      color: var(--color-white-1);
    }
    p {
      margin-bottom: 7rem;
    }
  }

  .article {
    padding-left:5rem;
    padding-top: 6rem;
    &-header {
      margin-bottom: 6rem;
      

      h4 {
        color: var(--color-black-1);
      }
      p {
        &sub {
          color: var(--color-grey-light-1);
        }
      }
    }

    .verification {
      font-family: "Roboto", sans-serif;
      color: var(--color-green);
      font-weight: 700;
      font-size: 2.2rem;
      // @include media-breakpoint-only('xl') { 
      //   font-size:1.6rem;
        
      //  }
      padding: 0.7rem 1.6rem;
      border-radius: 6rem;
      border: 1px solid var(--color-green);
      text-align: center;

      i.fa-check {
        font-size: 1.1rem;
        color: var(--color-white-1);
        background: var(--color-green);
        padding: 0.4rem 0.5rem;
        border-radius: 50%;
      }
    }
  }
}

.Login {
  background-color: var(--color-white-5);
  .article {
    .wavingHand {
      animation-name: wavingHand; /* Refers to the name of your @keyframes element below */
      animation-duration: 2.5s; /* Change to speed up or slow down */
      animation-iteration-count: infinite; /* Never stop waving :) */
      transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
      display: inline-block;
    }
    span {
      &.sub {
        font-size: 16px;
        font-weight: normal;
        color: var(--color-grey-light-1);
        margin-top: 25px;
      }
    }
  }
}

.ForgotPassword,
.PasswordConfirmation {
  .header-comp {
    position: absolute;
    width: 100%;
    top: 0;
  }
}


