.image-item{
  position: relative;
  .upload-img{
    width: 20rem;
    height: 20rem;

border: 1px solid #E8E8E8;
box-sizing: border-box;
border-radius: 256px;
  }
  .image-item__action{
    position: absolute;
    bottom: 4rem;
    left: 12rem;
    .edit-icon{
      background: var(--color-yellow-light-1);
      border: 2px solid var(--color-grey-light-3);
      box-sizing: border-box;
      color: var(--color-grey-light-3);
      width: 40px;
      height: 40px;
      svg{
        color: var(--color-grey-light-3) !important;
      }
  
    }
  }
    // border-radius: 10rem;
    // width: 15%;
    // border: 1px solid red;
    // height: -11%;
    // padding: 1rem;
    // img{
    //   width: 100%;
    //   vertical-align: middle;
    // }
}