.choose-file-button1 {
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.04);
  border: 0.1rem solid blue;
  color: blue;
  width: 13%;
  margin: 1rem auto;
  border-radius: 1rem;
  padding: 1.2rem;
  font-size: 2rem;
  text-align: center;
  // text-transform: lowercase;
}
