.studentDropdown {
  select {
    option {
      background-color: red !important;
    }
  }
  .single-dropdown {
    border: 0.1rem solid var(--color-grey-light-3);
    box-sizing: border-box;
    border-radius: 6rem;
    background: var(--color-white-1);
    font-size: 1.6rem;
    color: var(--color-black-2);
    width: 100%;
    text-align: left;
    padding: 1.5rem 1.6rem;

    // appearance: none;
    // -webkit-appearance: none;
    // -moz-appearance: none;
    // -ms-appearance: none;
    // background: url("../../media/arrown-down.png") no-repeat !important ;
    // background-position: right 1.5rem center !important;
    // background-size: 1rem;
    // background-size: 1.5rem !important;

    &:focus,
    &:focus-visible {
      opacity: 0.6;
      border: 0.2rem solid var(--color-blue);
      box-shadow: none;
      outline: none;
    }
  }
  .defaultDropdown {
    border-radius: 1rem !important;
    // padding: 1rem 1rem ;
  }
}
