.str1 {
    stroke: black;
    stroke-width: 10;
    stroke-opacity: 0.501961;
}
.str3 {
    stroke: black;
    stroke-width: 50;
}
.str5 {
    stroke: #434242;
    stroke-width: 10;
}
.str2 {
    stroke: #3f3e3f;
    stroke-width: 10;
}
.str0 {
    stroke: green;
    stroke-width: 6rem;
}
.str6 {
    stroke: #2b2a29;
    stroke-width: 7.62;
}
.str4 {
    stroke: black;
    stroke-width: 7.62;
}
.fil6 {
    fill: red;
}
.fil0 {
    fill: #fefefe;
}
.district_color {
    fill: yellow!important;
}
.fil8 {
    fill: #d9dada;
}
.fil4 {
    fill: #fefefe;
    fill-rule: nonzero;
}
.fil3 {
    fill: #d9dada;
    fill-rule: nonzero;
}
.fil7 {
    fill: #434242;
    fill-rule: nonzero;
}
.fil5 {
    fill: #2b2a29;
    fill-rule: nonzero;
}
.fil2 {
    fill: black;
    fill-rule: nonzero;
}
.fil1 {
    fill: #fefefe;
    fill-rule: nonzero;
    fill-opacity: 0.501961;
}
