#language-selector-btn {
  background-color: transparent;
  border: none;
  font-size: 1.7rem;
  color: var(--color-black-2);
}
#language-selector-btn:focus {
  border: none;
  box-shadow: none;
}

.dropdown-menu {
  font-size: 1.6rem !important;
  .dropdown-item{
    font-size: 1.6rem;
  }
}
