.InputWithSearchComp {
  .ant-input-affix-wrapper {
    background: #ffffff;

    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px 20px;
    color: #969696;
    background: #f4f7fb;
  }
  .ant-input-affix-wrapper > input.ant-input {
    background-color: #f4f7fb;
  }
  .ant-input-prefix{
     svg{
        font-size: 18px;
     }
  }
  .search-comp-large {
    font-size: 1.6rem;
  }
  .search-comp-medium {
    font-size: 14px;
    width: 60rem;
  }
  .search-comp-small {
   font-size: 14px;
   width: 30rem;
   border-radius: 0px;
   padding: .7rem 2rem;
   box-sizing: border-box;
   border-radius: 6px;
   text-align: initial;
  //  border: 1px solid #969696;
   box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12);  
 }
 .search-rounded{
  border-radius: 20px;
 }
}
