.InputWithSearchComp{
   .ant-input-affix-wrapper{
    background: #FFFFFF;
    border: 1px solid #969696;
    box-sizing: border-box;
    border-radius: 60px;
    width: 350px;
    height: 45px;
    padding: 15px 20px;
    margin: 10px;
    color: #969696;
    
   }

}