.file-drop-area {
  position: relative;
  text-align: center;
  align-items: center;
  width: 100rem;
  max-width: 100%;
  padding: 5rem;
  border: 1px dashed var(--color-blue);
  border-radius: 0.3rem;
  transition: 0.2s;
}

.choose-file-button {
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.04);
  border: 0.1rem solid #dfdfdf;
  color: var(--color-blue);
  margin: 1rem auto;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.4rem;
  width: 30%;
  @media screen and (max-width: 545px) {
    width: 100%;
  }
  // text-transform: lowercase;
}

.file-message {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}

.mt-100 {
  margin-top: 10rem;
}
