.form-control.custom-dropdown {
    font-size: 1.6rem;
    border: 0rem !important;
    box-sizing: border-box;
    border-radius: 6rem;
    font-style: normal;
    font-weight: normal;
    padding: 1.3rem 2rem;
    border-radius: 1rem !important;
    background-color: var(--color-white-3);
}
