input[type='checkbox'],
input[type='radio'] {
    box-sizing: border-box;
    padding: 0px;
    min-width: 2rem;
    min-height: 2rem;
}
.common-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-name-size {
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: 1rem;
}
.change-password {
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
}
.default-vh{
    min-height: 81vh !important;
}
