input[type='checkbox'],
input[type='radio'] {
    box-sizing: border-box;
    padding: 0px;
    min-width: 2rem;
    min-height: 2rem;
}
.common-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-name-size{
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: 1rem;
}