.teamMentor {
  background-color: var(--color-white-3);
  padding: 3rem;
  .idea-register {
    background: #ffffff;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    text-align: left;
    padding: 2rem;
    background-image: url("../../assets/img/ideaRegister.svg");
    background-repeat: no-repeat;
    background-position: right top;

    .ideaTitle {
      font-size: 3rem;
      @media screen and (max-width: 344px) {
        font-size: 2.5rem;
      }
      color: var(--color-black-2);
      font-weight: 600;
    }
    .deadline {
      font-size: 1.4rem;
      color: var(--color-grey-light-1);
    }
    .ideaTime,
    .submission {
      color: var(--color-black-2);
      font-weight: 600;
    }
    .idea-icon {
      width: 75%;
    }
  }
  .team-action {
    // text-align: left;
    // margin-top: 2.5rem;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
  }
  .idea-add {
    background: #ffffff;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    text-align: center;
    // padding: 4rem;
    margin-top: 3rem;
  }
  .idea-table {
    margin-top: 3rem;
    .view-link {
      color: var(--color-blue);
      text-decoration: none;
    }
    .ant-tag {
      border: none;
      padding: 0.3rem 1.2rem;
      box-sizing: border-box;
      border-radius: 6px;
    }
    .add-ticket {
      text-align: center;
      background-color: var(--color-white-1);
      padding: 8rem;
      box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
      border-radius: 8px;
      .text {
        font-weight: 600;
        font-size: 2rem;
        line-height: 2rem;
        color: var(--color-grey-light-1);
        margin-top: 1rem;
      }
    }
    .storybook-button--btn-circle {
      svg {
        margin: 0;
      }
    }
  }
}
.new-member-page {
  background: var(--color-white-3);
  padding: 4rem 2rem;
  text-align: left;
  .raiseTicket {
    color: var(--color-black-2);
    font-weight: 600;
    padding-top: 1rem;
  }
  .question {
    .accordion-button {
      font-weight: 600;
      font-size: 2.2rem;
      color: var(--color-black-2);
      background: #ffffff;
      box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
      border-radius: 8px;
      padding: 1.5rem;
    }
  }
  .question {
    font-weight: 600;
    font-size: 2.2rem;
    color: var(--color-black-2);
  }
  .accordion-body {
    background-color: var(--color-white-1);
  }
  .accordion-item {
    margin-bottom: 1rem;
  }
  .create-ticket {
    background-color: #ffffff;
    padding: 3rem 2rem;

    .que-text {
      font-size: 1.4rem;
      line-height: 2rem;
      color: var(--color-grey-light-3);
    }
    .defaultDropdown {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .textarea {
      margin-top: 1rem;
    }
  }
  .storybook-button--secondary {
    opacity: 0.6;
  }
  .submit-btn {
    text-align: right;
    .storybook-button--primary-outline {
      margin-right: 1rem;
    }
  }
  .inputBox--medium {
    border: none;
  }
  @media screen and (max-width: 375px) {
    .storybook-button {
      width: 100%;
      &:first-child {
        margin-bottom: 1.5rem;
      }
    }
  }
}
.name-req {
  font-size: 2rem;
  @media screen and (max-width: 575px) {
    font-size: 1.5rem;
  }
  color: var(--color-black-1);
}
