.pageUnderConstruction {
    // background-color: var(--color-white-1);
  height: 80vh;
  display: grid;

  place-content: center;

  .child {
    background-color: var(--color-white-1);
    text-align: center;
    // padding: 5rem;
    // border-radius: 5rem;
    // box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
    .w-40{
      width: 40%;
    }
  }
}
