.courses-page {
  .courses-head {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white-1);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12);
    padding: 3rem 8rem;
    align-items: center;
    .InputWithSearchComp {
      padding-right: 3rem;
    }
    .single-dropdown {
      border-radius: 6px;
      padding: 0.4rem;
      background: var(--color-white-1);
      border: 1px solid #dde2e4;
      box-sizing: border-box;
      color: var(--color-black-2);
      font-size: 1.4rem;
      font-weight: bold;
    }
  }
  .view-head {
    text-align: left;
    color: var(--color-white-1);
    font-weight: bold;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    .header-title {
      color: var(--color-white-1);
      font-weight: bold;
    }
    .course-breadcrum {
      text-align: left;
      font-size: 1.4rem;
      color: var(--color-white-1);
      font-weight: bold;
    }

    .courses-type {
      text-align: left;
      margin-top: 1rem;
      color: var(--color-white-1);
      font-weight: bold;
      svg {
        font-size: 1.8rem;
        margin-right: 1rem;
        color: var(--color-white-1);
        font-weight: bold;
      }
      .card-type {
        font-size: 1.8rem;
        line-height: 25px;
        border-right: 1px solid var(--color-white-1);
        padding-right: 1rem;
        color: var(--color-white-1);
        font-weight: bold;
      }
      .points {
        border: none;
      }
      .lessonsvg {
        margin-left: 1.5rem;
      }
    }
  }
  .courses-list {
    background-color: var(--color-white-3);
    min-height: 74vh;
    text-align: left;
    padding: 5rem 8rem;
    .course-section {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
    }
    .view-link {
      font-size: 2rem;
      line-height: 27px;
      color: #067de1;
      cursor: pointer;
    }
  }
}
