.courses-page{
    .courses-head{
        display: flex;
        justify-content: space-between;
        background-color: var(--color-white-1);
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12);
        padding: 3rem 8rem;
        align-items: center;
    }
    .courses-list{
        background-color: var(--color-white-3);
        min-height: 74vh;
        text-align: left;
        padding: 5rem 8rem;
        .course-section{
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
        }
    }
}