.toggleButtoncomp{
    border: none;
    .btn-group{
        box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
        border-radius: 60px;
        border: 1px solid #067DE1;;
        .btn-outline-primary{
            border: none;
            padding-bottom: 7px;
            border-radius:25px;
            border-top-right-radius: 25px !important;
            border-bottom-right-radius:25px !important;
            padding: 13px 40px;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            letter-spacing: -0.006em;
            color: black;

        }
        .btn-check:checked+.btn-outline-primary{
            color: white !important;
        }
    }

}