/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/roboto-v29-latin/roboto-v29-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/roboto-v29-latin/roboto-v29-latin-regular.eot")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/roboto-v29-latin/roboto-v29-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/roboto-v29-latin/roboto-v29-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("./fonts/roboto-v29-latin/roboto-v29-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/roboto-v29-latin/roboto-v29-latin-regular.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/roboto-v29-latin/roboto-v29-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/roboto-v29-latin/roboto-v29-latin-500.eot")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/roboto-v29-latin/roboto-v29-latin-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/roboto-v29-latin/roboto-v29-latin-500.woff") format("woff"),
    /* Modern Browsers */
      url("./fonts/roboto-v29-latin/roboto-v29-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/roboto-v29-latin/roboto-v29-latin-500.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/roboto-v29-latin/roboto-v29-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/roboto-v29-latin/roboto-v29-latin-700.eot")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/roboto-v29-latin/roboto-v29-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/roboto-v29-latin/roboto-v29-latin-700.woff") format("woff"),
    /* Modern Browsers */
      url("./fonts/roboto-v29-latin/roboto-v29-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/roboto-v29-latin/roboto-v29-latin-700.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/roboto-v29-latin/roboto-v29-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/roboto-v29-latin/roboto-v29-latin-900.eot")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/roboto-v29-latin/roboto-v29-latin-900.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/roboto-v29-latin/roboto-v29-latin-900.woff") format("woff"),
    /* Modern Browsers */
      url("./fonts/roboto-v29-latin/roboto-v29-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/roboto-v29-latin/roboto-v29-latin-900.svg#Roboto")
      format("svg"); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/open-sans-v27-latin/open-sans-v27-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/open-sans-v27-latin/open-sans-v27-latin-regular.eot")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("./fonts/open-sans-v27-latin/open-sans-v27-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/open-sans-v27-latin/open-sans-v27-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("./fonts/open-sans-v27-latin/open-sans-v27-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/open-sans-v27-latin/open-sans-v27-latin-regular.svg#OpenSans")
      format("svg"); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/open-sans-v27-latin/open-sans-v27-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/open-sans-v27-latin/open-sans-v27-latin-600.eot")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("./fonts/open-sans-v27-latin/open-sans-v27-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/open-sans-v27-latin/open-sans-v27-latin-600.woff")
      format("woff"),
    /* Modern Browsers */
      url("./fonts/open-sans-v27-latin/open-sans-v27-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/open-sans-v27-latin/open-sans-v27-latin-600.svg#OpenSans")
      format("svg"); /* Legacy iOS */
}

/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/inter-v7-latin/inter-v7-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/inter-v7-latin/inter-v7-latin-regular.eot")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/inter-v7-latin/inter-v7-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/inter-v7-latin/inter-v7-latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("./fonts/inter-v7-latin/inter-v7-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/inter-v7-latin/inter-v7-latin-regular.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/inter-v7-latin/inter-v7-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/inter-v7-latin/inter-v7-latin-700.eot")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/inter-v7-latin/inter-v7-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/inter-v7-latin/inter-v7-latin-700.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/inter-v7-latin/inter-v7-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/inter-v7-latin/inter-v7-latin-700.svg#Inter") format("svg"); /* Legacy iOS */
}

@import "../../../node_modules/bootstrap/scss/bootstrap";

@import "abstracts/variables";

// Custom Variables
@import "abstracts/functions";
@import "abstracts/mixins";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

// Theme
@import "../../../node_modules/video-react/styles/scss/video-react";
@import "themes/sweetalert";
@import "themes/reactProSlider";
@import "themes/ant";
@import "themes/rdt";
@import "themes/videoReact";
